In [1]:
import json

In [2]:
with open('contracts.json','r') as f:
    contracts = json.load(f)

In [3]:
print(contracts)

```json
{
  "data_quality": {
    "rules": [
      {
        "column": "emp_id",
        "rule_type": "not_null",
        "condition": "must not be null",
        "severity": "ERROR",
        "action": "FAIL_JOB",
        "description": "Employee ID is a required field and serves as the primary key.",
        "spark_exp": "emp_id IS NOT NULL"
      },
      {
        "column": "emp_id",
        "rule_type": "pk",
        "condition": "primary_key",
        "severity": "ERROR",
        "action": "FAIL_JOB",
        "description": "Employee ID must be unique across all records.",
        "spark_exp": "true"
      },
      {
        "column": "emp_id",
        "rule_type": "min",
        "condition": "0",
        "severity": "ERROR",
        "action": "DROP_ROW",
        "description": "Employee ID must be a positive integer.",
        "spark_exp": "emp_id > 0"
      },
      {
        "column": "name",
        "rule_type": "not_empty",
        "condition": "if present, must not be empty or whitespace",
        "severity": "WARNING",
        "action": "WARN",
        "description": "Employee name, if provided, must contain non-whitespace characters.",
        "spark_exp": "name IS NULL OR length(trim(name)) > 0"
      },
      {
        "column": "salary",
        "rule_type": "min",
        "condition": "0",
        "severity": "WARNING",
        "action": "WARN",
        "description": "Salary, if provided, must be a non-negative value.",
        "spark_exp": "salary IS NULL OR salary >= 0"
      },
      {
        "column": "department",
        "rule_type": "not_empty",
        "condition": "if present, must not be empty or whitespace",
        "severity": "WARNING",
        "action": "WARN",
        "description": "Department name, if provided, must contain non-whitespace characters.",
        "spark_exp": "department IS NULL OR length(trim(department)) > 0"
      },
      {
        "column": "joining_date",
        "rule_type": "custom_sql",
        "condition": "<= current_date()",
        "severity": "ERROR",
        "action": "DROP_ROW",
        "description": "The joining date cannot be in the future.",
        "spark_exp": "joining_date IS NULL OR joining_date <= current_date()"
      },
      {
        "column": "__TABLE__",
        "rule_type": "min",
        "condition": "1",
        "severity": "ERROR",
        "action": "FAIL_JOB",
        "description": "Table must contain at least one row after load.",
        "spark_exp": "true"
      }
    ]
  },
  "tests": [
    {
      "name": "test_pk_uniqueness_emp_id",
      "sql": "SELECT emp_id, COUNT(*) AS duplicate_count FROM copilot_demo.employees_test WHERE emp_id IS NOT NULL GROUP BY emp_id HAVING COUNT(*) > 1",
      "description": "Ensures that emp_id is unique across all rows in the table."
    },
    {
      "name": "test_pk_not_null_emp_id",
      "sql": "SELECT COUNT(*) AS null_count FROM copilot_demo.employees_test WHERE emp_id IS NULL",
      "description": "Ensures that the primary key column emp_id contains no null values."
    },
    {
      "name": "test_future_joining_date",
      "sql": "SELECT emp_id, joining_date FROM copilot_demo.employees_test WHERE joining_date > current_date",
      "description": "Checks for any records where the joining_date is in the future."
    },
    {
      "name": "test_negative_salary",
      "sql": "SELECT emp_id, salary FROM copilot_demo.employees_test WHERE salary < 0",
      "description": "Checks for records with a negative salary value."
    },
    {
      "name": "test_empty_strings",
      "sql": "SELECT emp_id FROM copilot_demo.employees_test WHERE (name IS NOT NULL AND trim(name) = '') OR (department IS NOT NULL AND trim(department) = '')",
      "description": "Checks for non-null but empty or whitespace-only strings in key text fields."
    },
    {
      "name": "test_table_not_empty",
      "sql": "SELECT 'Table is empty' AS failure_reason WHERE (SELECT COUNT(*) FROM copilot_demo.employees_test) = 0",
      "description": "Checks that the table is not empty after the load process. Fails if row count is 0."
    }
  ],
  "docs_markdown": "# Table: employees_test\n\n| Property      | Value                 |\n|---------------|-----------------------|\n| Database      | `copilot_demo`        |\n| Table Name    | `employees_test`      |\n| Data Owner    | unknown               |\n| Contact       | unknown               |\n\n## Description\nThis table contains employee information, including their ID, name, salary, department, and joining date.\n\n## Column Definitions\n| Column Name    | Data Type | Nullable | Primary Key | Description      |\n|----------------|-----------|----------|-------------|------------------|\n| `emp_id`         | int       | false    | **Yes**     | Unique identifier for each employee. This is the primary key. |\n| `name`           | string    | true     | No          | Employee's full name. This is a PII column. |\n| `salary`         | double    | true     | No          | Employee's salary. This is a PII column. |\n| `department`     | string    | true     | No          | The department the employee belongs to. |\n| `joining_date`   | date      | true     | No          | The date the employee joined the company. |\n\n## Data Quality & Post-Load Tests\nThis table is subject to the following data quality checks and post-load validation tests:\n*   **Row Count**: The table must not be empty after a successful load.\n*   **`emp_id`**: Must be a unique, non-null, positive integer. It serves as the primary key.\n*   **`name`**: If provided, must be a non-empty string.\n*   **`salary`**: If provided, must be a non-negative number.\n*   **`department`**: If provided, must be a non-empty string.\n*   **`joining_date`**: If provided, must not be a date in the future.\n\n## Example Query\n```sql\nSELECT\n    emp_id,\n    name,\n    salary,\n    department,\n    joining_date\nFROM copilot_demo.employees_test\nLIMIT 10;\n```\n"
}
```